/Bolsa/Bolsa/nbproject/private/
/StockExchange/nbproject/private/
/StockExchange/build/
/StockExchange/dist/
/StockExchangeClient/build/
/StockExchangeClient/nbproject/private/
/StockExchangeClient/dist/
/StockExchangeClient/.idea/
*.class
/Servers/nbproject/private/
/Servers/build/
/Servers/dist/
/NIOPeer/nbproject/private/
/DumpIT/nbproject/private/
/DumpIT/build/
/DumpIT/dist/
/NIOPeer/build/
/NIOPeer/dist/
/SOMETHING/nbproject/private/
/ToyServer/nbproject/private/
/RMIHello/nbproject/private/
/ToyServer/dist/
/ToyServer/build/