/Bolsa/Bolsa/nbproject/private/
/StockExchange/nbproject/private/
/StockExchange/build/
/StockExchange/dist/
/StockExchangeClient/build/
/StockExchangeClient/nbproject/private/
/StockExchangeClient/dist/
/StockExchangeClient/.idea/
*.class
